.tabela {
    background-color: azure;
    width: 300px;
    height: 150px;
}
.tabela1 {
    background-image: url(https://w7.pngwing.com/pngs/930/318/png-transparent-flower-floral-design-paper-pattern-rose-pattern-red-flowers-illustration-blue-floral-textile-thumbnail.png);
    width: 300px;
    height: 30px;
}